<h1>Welcome to Meadowlark Travel</h1>
{{> weather}}
<button id="about">go to about page</button>
<button id="vacations">Vacations</button>
<script type="text/javascript">
  document.getElementById("about").addEventListener("click", function () {
    window.history.pushState(null, "about page", "/about"); // 只改变history中的值
    window.history.go(); // 刷新页面
  });
  document.getElementById("vacations").addEventListener("click", function () {
    window.history.pushState(null, "", "/vacations");
    window.history.go(); // 刷新页面
  })
</script>